<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      NU.TRI
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Sair
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-input [(ngModel)]="question" placeholder="Digite o que deseja saber sobre algum alimento"></ion-input>
  <ion-button style="width: 50%;" (click)="submit()" class="custom-button" fill="clear" >Procurar</ion-button>
  
</ion-content>
